@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Rubik+Burned&display=swap');
/* base styles */

/* IconStyles.css */

/* .blog-plug {
  font-family: 'Rubik Burned', system-ui;

} */

.logo {
  width: 50px;
}

nav > h1 {
  font-family: 'Rubik Burned', system-ui;

}

 .plug {
  font-family: 'Rubik Burned', system-ui;
  font-weight: 400;
  font-size: 1.2rem;
  color: greenyellow;
  margin: 0;
  padding: 0;
  /* transform: rotate(45deg); */
  transition: transform 0.3s ease; 
}

.plug:hover {
  transform: rotate(45deg) scale(2.5); 
}

/* End IconStyles.css */




* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}


nav > h1 {
    font-family: 'Lemon', serif;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar h1 {
  color: #f1356d;
}

.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar > a

.navbar a:hover {
  color: #f1356d;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
} 




/* blog previews / list */


/* Integrated Development Environment */ 


.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.blog-preview:hover {
  box-shadow: 5px 3px 10px rgba(222, 135, 135, 0.7);
}
.blog-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}

.blog-preview > button {
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  color: #f1356d;
  font-weight: bold;
  background-color: #333;
  transition: all 0.5s ease-in-out;
}

.blog-preview > button:hover {
  filter: invert(100%)
}

.error {
  color: #f1356d;
  border: 3px solid red;
  padding: 10px;
}


.blog-preview a{
  text-decoration: none;
}

/* blog details page */


.blog-details h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 10px;
}
/* .blog-details div {
  margin: 20px 0;
} */
.blog-details button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.article-body {
  text-align: center;
  font-size: 2rem;
  border: 2px solid magenta;
  padding: 2rem;
  line-height: 3rem;
  background-color: bisque;
  max-width: 70%;
  margin: 5px auto;
}


/* create new blog form */


.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
  border-radius: 5px;
}
.create button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.create button:hover {
  filter: invert(100%);
}
